.genre-btn {
    /* border: red solid 1px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.genre-btn-active {
    border: purple solid 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.vertical {
    display: flex;
    flex-direction: column;
}