@media screen and (max-width: 768px) {
    .MuiTableCell-root .col-hidden {
        display: none;
    }
}

.genre-btn {
    /* border: red solid 1px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.genre-btn-active {
    border: purple solid 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}